archive
exps
grad_tests_jun
perf_data
gradient_tests*
experiments
.idea
gradient_par_tests
autotests_30apr
autotests_30apr_avgs
plotting/.venv
local_experiments
data/cifar-100
*.log
perf*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake-build-debug
cmake-build
.cache
meeting-8mar

.venv
__pycache__
.ipynb_checkpoints
data1.json
final_experiments/
Session.vim
test_exps/
cifar100_with_accuracy
yprobe
